.header {
  &__logo {
    width: 6rem;
    height: 6rem;
    object-fit: contain;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    padding: 2rem 0;
  }

  .nav {
    &-link.active {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
    }
    @media (min-width: 576px) {
      &-link {
        position: relative;
        display: flex;
        align-items: center;
      }

      &-link.active::before {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(-5px, -50%);
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #000;
      }
    }
  }
}
